<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The YouTube List</title>
    <link href="css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="A list of YouTube channels, sort by subscribers, views, videos, and more!">
    <meta name="keywords" content="youtube, list, channels, sort, subscribers, views, videos, joined, name, country">
    <meta name="author" content="AJ">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sfmg_" />
    <meta name="twitter:title" content="The YouTube List" />
    <meta name="twitter:description"
        content="A list of YouTube channels, sort by subscribers, views, videos, and more!" />
    <meta name="twitter:image" content="https://list.mgcounts.com/images/preview.png" />
    <meta property="og:title" content="The YouTube List" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://list.mgcounts.com/" />
    <meta property="og:image" content="https://list.mgcounts.com/images/preview.png" />
    <meta property="og:description"
        content="A list of YouTube channels, sort by subscribers, views, videos, and more!" />
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <style>
        #chartdiv {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <script>
        var a = <%- JSON.stringify(data) %>;

        am5.ready(function () {
            var root = am5.Root.new("chartdiv");
            root.setThemes([
                am5themes_Animated.new(root)
            ]);
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: false,
                panY: false,
                wheelX: "none",
                wheelY: "none"
            }));
            chart.zoomOutButton.set("forceHidden", true);
            var yRenderer = am5xy.AxisRendererY.new(root, {
                minGridDistance: 30
            });
            yRenderer.grid.template.set("location", 1);
            var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
                maxDeviation: 0,
                categoryField: "name",
                renderer: yRenderer,
                tooltip: am5.Tooltip.new(root, { themeTags: ["axis"] })
            }));
            var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0,
                min: 0,
                extraMax: 0.1,
                renderer: am5xy.AxisRendererX.new(root, {
                    strokeOpacity: 0.1
                })
            }));
            var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                name: "Series 1",
                xAxis: xAxis,
                yAxis: yAxis,
                valueXField: "value",
                categoryYField: "name",
                tooltip: am5.Tooltip.new(root, {
                    pointerOrientation: "left",
                    labelText: "{valueX}"
                })
            }));
            series.columns.template.setAll({
                cornerRadiusTR: 5,
                cornerRadiusBR: 5,
                strokeOpacity: 0
            });
            series.columns.template.adapters.add("fill", function (fill, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });
            series.columns.template.adapters.add("stroke", function (stroke, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });
            var data = a;
            yAxis.data.setAll(data);
            series.data.setAll(data);
            sortCategoryAxis();
            function getSeriesItem(category) {
                for (var i = 0; i < series.dataItems.length; i++) {
                    var dataItem = series.dataItems[i];
                    if (dataItem.get("categoryY") == category) {
                        return dataItem;
                    }
                }
            }
            chart.set("cursor", am5xy.XYCursor.new(root, {
                behavior: "none",
                xAxis: xAxis,
                yAxis: yAxis
            }));
            function sortCategoryAxis() {
                series.dataItems.sort(function (x, y) {
                    return x.get("valueX") - y.get("valueX");
                })
                am5.array.each(yAxis.dataItems, function (dataItem) {
                    var seriesDataItem = getSeriesItem(dataItem.get("category"));
                    if (seriesDataItem) {
                        var index = series.dataItems.indexOf(seriesDataItem);
                        var deltaPosition = (index - dataItem.get("index", 0)) / series.dataItems.length;
                        dataItem.set("index", index);
                        dataItem.set("deltaPosition", -deltaPosition);
                        dataItem.animate({
                            key: "deltaPosition",
                            to: 0,
                            duration: 1000,
                            easing: am5.ease.out(am5.ease.cubic)
                        })
                    }
                });
                yAxis.dataItems.sort(function (x, y) {
                    return x.get("index") - y.get("index");
                });
            }
            setInterval(function () {
                updateData();
            }, 1500)
            function updateData() {
                am5.array.each(series.dataItems, function (dataItem) {
                    var value = dataItem.get("valueX") + Math.round(Math.random() * 1000000000 - 500000000);
                    if (value < 0) {
                        value = 500000000;
                    }
                    dataItem.set("valueX", value);
                    dataItem.animate({
                        key: "valueXWorking",
                        to: value,
                        duration: 600,
                        easing: am5.ease.out(am5.ease.cubic)
                    });
                })
                sortCategoryAxis();
            }
            series.appear(1000);
            chart.appear(1000, 100);
        }); 
    </script>
    <div id="chartdiv"></div>
</body>

</html>